.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 50px auto 50px;
}
.menu {
    background: lightblue;
   grid-column: 1/-1;
}
.header {
    background: lavenderblush;
    grid-column: 1/-1;
}
.sidebar {
    background: lightyellow;
    grid-column: 1/2;
}
.responsive {
    max-width: 100%;
    height: auto;
}
.content {
    background: lightpink;
    grid-column: 2/-1;
    display: grid;
    grid-gap: 4px;
}
.subcontent {
    background: lightgray;
    grid-column: 1/-1;
}
.footer {
    background: lightcyan;
    grid-column: 1/-1;
}